.formulaire{
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: white;
   width: 350px;
   padding: 20px;
   margin:auto;
   border-radius: 15px; 
}
.container-form{
    margin-bottom: 12px;
}
.adress-mail{
    margin-bottom: 12px;
   
}
.name{
    margin-bottom: 12px;
}
h4{
    font-family:Futura ;
    text-align: center;
}
.voyage{
    display: flex;
    justify-content: center;  
}
.aston{
    height:150px;
}

.error {
    color: red
}
