<div class="cookieCard" *ngIf="data && isRecap">
  <p class="cookieHeading information"> {{data.nom_destination}} </p>
  <p class="cookieDescription"><strong>Nom: </strong> {{nom}} </p>
  <p class="cookieDescription"><strong>Prenom:</strong>  {{prenom}} </p>
  <p class="cookieDescription"><strong>Aéroport de depart: </strong>{{data.vols.aeroport_depart}} </p>
  <p class="cookieDescription"><strong>Aéroport d'arrivée: </strong>{{data.vols.aeroport_arrivee}} </p>

  <p class="cookieDescription"><strong>Date de depart: </strong> {{data.date_depart | date: 'shortDate' }}</p>

  <p class="cookieDescription"> <strong>Date d'arrivée: </strong> {{data.date_retour | date: 'shortDate'}}</p>
  <p class="cookieDescription"><strong>Prix:</strong> {{data.prix| currency: 'EUR'}}</p>

  
  <button class="acceptButton information" (click)="action()">Paiement</button>
</div>


  <div class="cookieCard" *ngIf="data && !isRecap">
    <p class="cookieHeading">Pour votre Séjour à <strong class="">{{data.nom_destination}}</strong> </p>

    <p class="cookieDescription">Au depart de <strong class="">{{data.vols.aeroport_depart}}</strong> </p>
    <p class="cookieDescription">Votre vol sera opérée par la compagnie <strong class="">{{data.vols.compagnie_vol}}</strong> </p>
    <p class="cookieDescription">Au depart de  <strong class="">{{data.vols.aeroport_depart}}</strong> </p>
  
    <p class="cookieDescription">Et vous atteindrez <strong class="">{{data.vols.aeroport_arrivee}}</strong> </p>
  
    <p class="cookieHeading">Réserver pour visiter de nouveaux horizons ! </p>

    <button class="acceptButton btnText"  (click)="action()">{{isConnected ? 'Réservation' : 'connectez-vous pour réservez'}}</button>
  </div>
