
<div class="voyage">
  <img class="aston" src="../../assets/logo.png" alt="">
</div>
<br>
<div class="avion">
  <img src="../../assets/avion.png" alt="">
</div>
<br>
<div class="titre">
<h1>Nous vous remercions pour votre confiance !</h1>
<br>

<h2>Vous pourrez retrouvez vos reservations dans l'espace <i>"Mes reservations"</i>  </h2> 
<br>

  <h2> Bon voyage !! </h2> 

</div>
<br>
<div class="bouton">
  <button  mat-flat-button color="primary" (click)="accueil()">Voir mes reservations
  </button>
</div>
