
<div class="voyage">
  <img class="aston" src="../../assets/logo.png" alt="">
</div>
<br>
<div class="avion">
  <img src="../../assets/avion.png" alt="">
</div>
<br>
<div class="titre">
<h1>Nous vous remercions pour votre confiance !</h1>
<br>

<br>

  <h2 class="congratulation"> Du rêve à la réalité : des voyages inoubliables vous attendent </h2> 

</div>
<br>
<div class="bouton">
  <button  mat-flat-button color="primary" (click)="accueil()"><span class="buttonText">Voir mes reservations</span>
  </button>
</div>
