.voyage{
  display: flex;
  justify-content: center;
}
.aston{
  height:250px;
}
.avion{
  display: flex;
  justify-content: center;
  height:150px;
}
.titre{
display: flex;
justify-content: center;
text-align: center;
}
.bouton{
  display: flex;
  justify-content: center;
  color: blue;
  }
  