

    <form [formGroup]="connexionForm">
      <div class="formulaire">
            <div class="container-form">
            <label for="adress">adresse mail</label>: <input type="email" name="adress" formControlName="email" id="adress" required>
        </div>
        
        <div class="container-form">
            <label for="password">mot de passe</label>: <input type="password" name="password" formControlName="password" id="password">
        </div>
        <button type="button"(click)="navigateToPagePrincipal()" class="btn btn-primary">
          Validé
        </button>
        <button type="button"(click)="navigateToButtonInscription()" class="btn btn-primary">
          Inscription
        </button>
      </div>
      </form>
    


