.formulaire {
    display: block;
    text-align: center;
    width: 350px;
    padding: 20px;
    right: 80px;
    margin: auto;
    border-radius: 15px;


}

.container-form {
    margin-bottom: 12px;
}

h4 {
    text-align: center;
}

.voyage {
    display: flex;
    justify-content: center;
}

.aston {
    height: 150px;
}