<div class="voyage">
  <img class="aston" src="../../assets/logo.png" alt="">
</div>
<h4 class="cursive btnText">Explorez le monde avec nous - Des expériences inoubliables à chaque tournant.</h4>
<form [formGroup]="connexionForm">
  <div class="formulaire">
    <div class="container-form">
      <mat-form-field appearance="fill">
        <mat-label>Entrer votre email</mat-label>
        <input matInput placeholder="pat@example.com" formControlName="mail" required>
      </mat-form-field>
    </div>

    <div class="container-form">
      <mat-form-field appearance="fill">
        <mat-label>Entrer votre mot de passe</mat-label>
        <input matInput formControlName="mdp" id="password" required [type]="hide ? 'password' : 'text'">
        <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
          [attr.aria-pressed]="hide">
          <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
      </mat-form-field>
    </div>
    <div class="button-connexion-inscription">
      <div class="button-connexion">
    <button type="button" (click)="connexionUser()" [disabled]="connexionForm.invalid" mat-raised-button color="primary"
      class="btnText">
      Se connecter
    </button>
  </div>
    <button type="button" (click)="navigateToButtonInscription()" primary mat-raised-button  color="primary"class="btnText">
    S'inscrire
    </button>
  </div>
  </div>
</form>