p{
  font-family:futura;
  text-align: center;
}
.voyage{
  display: flex;
  justify-content: center;
  height:150px;
}

.paiement{
  display: flex;
  justify-content: center;
  height:200px;
}

.form{
  display: flex;
  justify-content: center;
  justify-content: space-around;
}

.bouton{
  display: flex;
  justify-content: center;
  color: blue;
  }