
  <div class="voyage">
    <img src="../../assets/logo.png" alt="">
  </div>

    <div class="titre_card">
      <p>Pour procéder au paiement veuillez remplir les données ci-dessous :</p>
    </div>
    <br>
      <form class="form">
        <mat-form-field class="exemple-full-width">
          <mat-label for="Numéro">Numéro de carte</mat-label>
          <input matInput id="num_carte" type="text">
        </mat-form-field>

        <mat-form-field class="exemple-full-width">
          <mat-label for="Date">Date d'expiration</mat-label>
          <input matInput id="Date" type="text">
        </mat-form-field>

        <mat-form-field class="exemple-full-width">
          <mat-label for="Numéro">Cryptogramme</mat-label>
          <input matInput id="Num_cryptogramme" type="text">
        </mat-form-field>
      </form>
      <div class="bouton">
        <button mat-flat-button color="primary" >Payer</button>
      </div>
      <br>
      <br>
      <div class="paiement">
        <img src="../../assets/logo-payline-paiement-securise.png" alt="">
      </div>

  