<form [formGroup]="connexionForm"> 
  <div class="voyage">
    <img src="../../assets/logo.png" alt="">
  </div>
  <mat-card class="card">

    <div class="tire_card">
      <p>Réservez juste ici</p>
      <p>Les champs ci-dessous sont obligatoires:</p>
      <p> Récapitulatif de la réservation:</p>
    </div>
    
    <div class="centre">
    <mat-card *ngIf="pays">
      <mat-card-content>
        <!-- <img src="../../assets/plane.png" alt="plane1"> -->
        <p>-----------------------------------------------------------</p>
        <p>nom: <strong>{{nom}}</strong></p>
        <p>prenom: <strong>{{prenom}}</strong></p>
        <p>mail: <strong>{{mail }}</strong></p>
        <p>Lieu: <strong>{{pays.nom_destination}}</strong></p>
        <p>Aeroport de depart: <strong>{{pays.vols.aeroport_depart}}</strong></p>
        <p>Date de depart: <strong>{{pays.date_depart | date: 'shortDate' }}</strong></p>
        <p>Aeroport d'arrivée: <strong>{{pays.vols.aeroport_arrivee}}</strong></p>
        <p>Date de retour: <strong>{{pays.date_depart | date: 'shortDate' }}</strong></p>
        <p>Prix: <strong>{{pays.prix| currency: 'EUR'}} </strong></p>
        <p>-----------------------------------------------------------</p>
        <!-- <img src="../../assets/plane.png" alt="plane2"> -->
      </mat-card-content>
    </mat-card>

    <app-card [data]="pays"></app-card>
    
  </div>
<br>

    <div class="bouton">
      <button mat-flat-button color="primary" (click)="paiement()">Paiement</button>
    </div>