.titre{
  justify-content: center;
  align-items: center;
}

.bouton{
display: flex;
justify-content: center;
}

.tire_card{

  font-family: cursive;
}
.voyage{
  display: flex;
  justify-content: center;
  height:150px;
}

p{
  font-family:futura;
  text-align: center;
}

.centre{
  display: flex;
  justify-content: space-around;
}

strong{
 color: blueviolet;
}