<app-header-buttons [path]="'acceuil'"></app-header-buttons>
<div class="voyage">
    <img class="aston" src="../../assets/logo.png" alt="">
    <h1>Aston Voyage</h1>
</div>
<div class="reservations">
<h2> Mes réservations</h2>


<div class="cards" *ngIf="book.length>0; else pasDeBook">
    
    <mat-card class="card" *ngFor="let card of book">
        <mat-card-header>

            <mat-card-title class="title">{{card.destinationId.nom_destination}}</mat-card-title>
            <mat-card-subtitle></mat-card-subtitle>
        </mat-card-header>
        <img class="img" mat-card-image src={{card.destinationId.image}}>
        <mat-card-content class="description">
            <p><strong>Destination</strong> : {{card.destinationId.nom_destination}} </p>
            <p>{{card.destinationId.description}} </p>
            <p><strong>Prix</strong> : {{card.destinationId.prix | currency: 'EUR'}}  </p>
            <p><strong>Date aller: </strong>{{card.destinationId.date_depart | date : 'YY-mm-dd'}} </p>
            <p><strong>Date retour:</strong> {{card.destinationId.date_retour | date: 'YY-mm-dd'}} </p>

        </mat-card-content>

        <mat-card-actions class="buttons">
            
            
           
        </mat-card-actions>
    </mat-card>
</div>

<ng-template #pasDeBook>
    <div class="voyage">
    <img class="" src="../../assets/11137.jpg" alt="">
</div>
<h3> Notre pilote attend que vous !!!</h3>
<div class="retour">
<button *ngIf="isConnected" mat-raised-button color="warn" (click)="goToAcceuil()">
    Retour vers la page d'acceuil
</button>
</div>
</ng-template>


