


   <app-header-buttons></app-header-buttons>
<div class="voyage">
    <img class="aston" src="../../assets/logo.png" alt="">
    <h1>Aston Voyage</h1>
</div>
<div class="row">

    <div class="col-xs-12 col-12 col-md-4 form-group mb-3">

        <input type="text" [(ngModel)]="date_depart" placeholder="Départ" class="form-control" bsDatepicker >
      </div>
  

    <button mat-raised-button color="primary" class="button" (click)="filterDestination()">Recherche</button>


</div>

<div class="cards" *ngIf="cards?.length > 0 else  noCards">
    <mat-card class="card" *ngFor="let card of cards">
        <mat-card-header>

            <mat-card-title class="title">{{card.nom_destination}}</mat-card-title>
            <mat-card-subtitle></mat-card-subtitle>
        </mat-card-header>
        <img class="img" mat-card-image src={{card.image}}>
                <mat-card-content class="description">
            <p>{{card.description}}</p>
        </mat-card-content>

        <mat-card-actions class="buttons">
            <button mat-raised-button color="primary" class="button" (click)="navigateToButtondetail(card._id)">Détail</button>
        </mat-card-actions>
    
    </mat-card>
</div>

<ng-template #noCards>
    <h1>Pas de voyages disponibles .. </h1>
</ng-template>