<div class="navigation-connexion">
  <div class="information">
    <mat-icon mat-button [matMenuTriggerFor]="menu" *ngIf="isConnected">account_circle</mat-icon>
    <mat-menu #menu="matMenu">
        <button mat-menu-item (click)="goToReservation()">Mes réservations</button>
    </mat-menu>
    <h4 *ngIf="isConnected">{{nom}} {{prenom}}</h4>
    
</div>

  <button *ngIf="isConnected" mat-raised-button color="warn"(click)="deconnexion()">
      Deconnexion
  </button>

  <button *ngIf="!isConnected" mat-raised-button color="primary"(click)="connexion()">Connexion
  </button>
  

  <!--<button  mat-raised-button color="primary"(click)="sauvegarderPositionPage()">
      {{isConnected ? 'Deconnexion': 'Connexion'}}
  </button>-->
</div>

<div class="voyage">
  <img class="aston" src="../../assets/logo.png" alt="">
  <h1>Aston Voyage</h1>
</div>

<br>
<div class="papa">
  <h1> {{ pays.nom_destination  }}</h1>
  <br>
  <div class="caroussel">
  <carousel>
    <slide>
      <img src="../../assets/bital-7130015_960_720.png" alt="first slide" style="display: block; width: 100%;">
    </slide>
    <slide>
      <img src="../../assets/La-ville-de-Kinshansa.png" alt="second slide" style="display: block; width: 100%;">
    </slide>
    <slide>
      <img src="../../assets/RDC-Paysage.png" alt="third slide" style="display: block; width: 100%;">
    </slide>

  </carousel>
  <br>
</div>
</div>
<div class="texte">
<h2>{{ pays.description  }}</h2>
</div>
<br>
<h3> Réserver pour visiter de nouveaux horizons !</h3>
  <mat-card class="center">
  <mat-card-content>
    <p>---------------------------------------------------------------</p>
    <p>Pour votre Séjour a <strong class="abc">{{pays.nom_destination}} : </strong><p>
    <p>Votre vol sera opérée par la compagnie <strong class="abc">{{pays.vols.compagnie_vol}}</strong></p>
    <p>Au depart de <strong class="abc">{{pays.vols.aeroport_depart}}</strong> a <strong class="abc">{{pays.vols.heure_depart | timeFormat}}</strong> </p>
    <p>Et vous atteindrez <strong class="abc">{{pays.vols.aeroport_arrivee}}</strong> a <strong class="abc">{{pays.vols.heure_arrivee | timeFormat}}</strong></p>
    <p>---------------------------------------------------------------</p>
    </mat-card-content>
  </mat-card>

  <app-card [data]="pays"></app-card>

<br>

<div class="buttonreservation">
  <button  *ngIf="isConnected" type="button" class="btn btn-primary" (click)="reservation()">
    Réservation
  </button>
  <button  *ngIf="!isConnected" type="button" class="btn btn-primary" (click)="connexion()"> connectez-vous pour réservez</button>
</div>









