h1{
  text-align: center;
  font-family:Futura ;
}

h2{
  font-family:Futura ;
  text-align: center;
}

h3{
  text-align: center;
  font-family:Futura ;
  justify-content:space-between;
  padding-bottom: 30px
}
td{
    border: 1px solid black; 
    text-align: center;
    font-family:Futura ;
    flex-grow: 1;
}
th{
  font-family:Futura ;
}

.voyage{
  display: flex;
  justify-content: center;
}

.aston{
  height:150px;
}
.navigation-connexion{
  font-family:Futura ;
  display: flex;
  justify-content: space-around;
  margin-top: 40px;
  margin-bottom: 60px;
}
.information{
  display: flex;
  
}

.caroussel{
  width: 45%; 
  margin: 0 auto; 
  overflow: hidden;

}


.abc {
  color: blueviolet;

}
.titre {
  color: blueviolet;
  font-family: cursive;


}
.center{
  width: 40%;
  margin: 0 auto; 
   overflow: hidden;
}




.buttonreservation{
   display: flex;
   justify-content: center;
}

.container_card {
  display: flex;
  justify-content: center;
}

