<div class="papa">
  <h1>Bienvenue en République démocratique du Congo</h1>
  <br>
  <div class="caroussel">
  <carousel>
    <slide>
      <img src="../../assets/bital-7130015_960_720.png" alt="first slide" style="display: block; width: 100%;">
    </slide>
    <slide>
      <img src="../../assets/La-ville-de-Kinshansa.png" alt="second slide" style="display: block; width: 100%;">
    </slide>
    <slide>
      <img src="../../assets/RDC-Paysage.png" alt="third slide" style="display: block; width: 100%;">
    </slide>
    <slide>
      <img src="../../assets/rdc.png" alt="third slide" style="display: block; width: 100%;">
    </slide>
  </carousel>
  <br>
</div>
<div class="texte">
<h2> Voici un pays avec un très beau décor naturel</h2>
</div>
<br>
<h3> Réserver pour visiter de nouveaux horizons !</h3>

<div class="center" >

  <table class="table" >
    
    <tr>
      <th>Compagnie Aérienne</th>
      <th>Heure de départ</th>
      <th>Heure d'arrivée</th>
    </tr>
    <tr>
      <td>Air France</td>
      <td>10h00</td>
      <td>16h00</td>
    </tr>
    <tr>
      <td>Royal Air Maroc</td>
      <td>12h00</td>
      <td>18h00</td>
    </tr>
    <tr>
      <td>Fly Emirates</td>
      <td>16h00</td>
      <td>21h30</td>
      
    </tr>
  </table>

  <button type="button" class="btn btn-primary" (click)="reservation()">
    Réservation
  </button>
</div>






