<div class="navigation-connexion">
    <div class="information">
        <mat-icon mat-button [matMenuTriggerFor]="menu" class="icon" *ngIf="isConnected">account_circle</mat-icon>
        <mat-menu #menu>
            <button mat-menu-item (click)="goTo()">{{path?path:'Mes réservations'}}</button>

        </mat-menu>
        <h4 *ngIf="isConnected">{{nom}} {{prenom}}</h4>
        
    </div>

    <button *ngIf="isConnected" mat-raised-button color="warn" (click)="deconnexion()">
        Deconnexion
    </button>

    <button *ngIf="!isConnected" mat-raised-button color="primary" class="btnText" id="button_login" (click)="connexion()">Connexion
        
    </button>


</div>